<!doctype html>
<html lang="en">
  <head>
  	<title>Список заданий</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="./stylesheets/css/style.css">
	<link rel="stylesheet" href="./stylesheets/tasks.css">

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			  <div class="navbar-nav">
				<a class="nav-item nav-link" href="/tasks">Задания</a>
				<a class="nav-item nav-link" v-if="isteacher" href="/students">Студенты</a>
			  </div>
			  <div class="signin-div" v-if="!isteacher">
				<label for="login">Вы учитель?</label>
				<button id="login" @click="openModal" class="log">Войти</button>
			  </div>
			</div>
		</nav>

		<div :class="classes.modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
				  <button type="button" class="close" @click="closeModal" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <form>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">{{ modalTitle }}</label>
						<input type="password" @input="changeInputData('pass', $event)" :value="inputValue.pass" class="form-control" id="recipient-name">
					</div>
				  </form>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" @click="closeModal" data-dismiss="modal">Закрыть</button>
				  <button type="button" class="btn btn-primary" @click="sendPass">Отправить пароль</button>
				</div>
			  </div>
			</div>
		</div>

	<section :class="classes.section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Задания #</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>ID no.</th>
						      <th>Текст задания</th>
						      <th>Дата</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" @click="openStudentsList(task._id)" role="alert" v-for="(task, index) in tasks">
						      <th scope="row">{{ index + 1 }}</th>
						      <td>{{ task.taskText }}</td>
						      <td>{{ (new Date(task.createdAt)).toString().split('GMT')[0] }}</td>
						      <td v-if="isteacher" style="cursor: pointer;" @click.stop="deleteTask(task._id)">
				            	<span><i class="fa fa-close"></i></span>
				        	  </td>
						    </tr>
						  </tbody>
						</table>
					</div>
					<div class="button_plus" @click="isAdd = !isAdd" v-if="!isAdd && isteacher"></div>
					<form class="form-inline" v-if="isAdd">
						<div class="form-group mx-sm-3 mb-2">
						  <label for="inputPassword2" class="sr-only">Задание</label>
						  <input type="text" @input="changeInputData('task', $event)" :value="inputValue.save" v-on:keyup.enter="attach" class="form-control" id="inputPassword2" placeholder="Текст задания">
						</div>
						<button type="button" @click="attach" class="btn btn-primary mb-2">Добавить</button>
						<span @click="isAdd = !isAdd" id="cancelAddTask" aria-hidden="true"><i class="fa fa-close"></i></span>
					  </form>
				</div>
			</div>
		</div>
	</section>

	<script src="./scripts/task.js" type="module"></script>
	<script src="./scripts/js/jquery.min.js"></script>
  <script src="./scripts/js/popper.js"></script>
  <script src="./scripts/js/bootstrap.min.js"></script>
  <script src="./scripts/js/main.js"></script>

	</body>
</html>

